 .u-section-1 {
  background-image: url("images/cf2.jpg");
  background-position: 50% 50%;
  min-height: 668px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 126px 30px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 32px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 32px auto 0 30px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

.u-section-1 .u-image-1 {
  width: 369px;
  height: 243px;
  margin: 182px auto 0 121px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 434px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
    background-position: 0% 100%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding-right: 36px;
    padding-left: 35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 281px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 217px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 348px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-line-1 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-image-1 {
  height: 170px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 425px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-image-2 {
  height: 126px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-line-2 {
  width: 25px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 425px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-line-3 {
  width: 25px;
  transform-origin: left center;
  height: 4px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 429px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-line-4 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-4 {
  height: 142px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-image-1 {
    height: 135px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-2 .u-image-2 {
    height: 101px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-2 .u-image-4 {
    height: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 166px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 361px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 270px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 222px;
  }

  .u-section-2 .u-image-2 {
    height: 166px;
  }

  .u-section-2 .u-image-4 {
    height: 185px;
  }
}